<% provide :title, t(".title") %>

<div class="super_container">
  <div class="features">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="section_title_container text-center">
            <h2 class="section_title"><%= t(".welcome") %></h2>
          </div>
          <%= form_tag(tasks_path, method: :get) do %>
            <%= text_field_tag :title, params[:title], class: "box" %>
            <%= submit_tag 'Search', class: "btn-search" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
