<% provide :title, t(".title") %>
<div class="courses">
  <div class="container">
    <div class="row">
      <!-- Courses Sidebar -->
      <div class="col-lg-4">
        <div class="sidebar">
          <!-- Categories -->
          <div class="sidebar_section">
            <div class="sidebar_section_title"><%= t "group.main_function" %></div>
            <div class="sidebar_categories">
              <ul>
                <li><%= link_to t("group.task_list"), "#" %></li>
              </ul>
            </div>
          </div>
          <!-- Latest Course -->
        </div>
      </div>

      <!-- Courses Main Content -->
      <div class="col-lg-8">
        <center>
          <div class="sidebar_section_title"><%= "Task name : #{@task.title}" %></div>
          <br>
        </center>

      </div>
    </div>
  </div>
</div>
