<%= form_for @report, remote: true do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="fix_report">
    <div class="container">
      <div>
        <br style="clear:both">
      </div>
    </div>
  </div>
<% end %>
