<footer class="footer">
  <div class="footer_background"></div>
  <div class="container">
    <div class="row footer_row">
      <div class="col">
        <div class="footer_content">
          <div class="row">

            <div class="col-lg-3 footer_col">

              <!-- Footer About -->
              <div class="footer_section footer_about">
                <div class="footer_logo_container">
                  <a href="#">
                    <div class="footer_logo_text">Find<span>Job</span></div>
                  </a>
                </div>
              </div>

            </div>

            <div class="col-lg-3 footer_col">

            </div>

            <div class="col-lg-3 footer_col">
            </div>
            <nav class="main_nav_contaner ml-auto">
              <ul class="main_nav">
                <li><%= link_to t("static_pages.home.title"), root_path  %></li>
                <li><%= link_to "About", '#' %></li>
                <li><%= link_to "", '#' %></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
</div>
